<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Demo</title>

    <style>
      div {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 25px;
        background-color: palegreen;
        border: 1px solid gray;
        box-shadow: 2px 2px gray;
      }
      h1 {
        text-align: center;
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 title="Values coming from Ejs">Hey, it's <%= weekDayType %>, <%= funAdvice %></h1>
    </div>
  </body>
</html>
