.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px 200px;
    gap: 30px;
}

.first {
    grid-column: span 2;
}

.card {
    background-color: lightpink;
    border-radius: 5px;
    border-style: double;
    border-color: lightslategray;
    border-width: 2px;
}

