<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="5 url='/'" />
    <title>Redirecting to home in 5 seconds...</title>
  </head>
  <body>
    <p>Your data has been submitted.</p>
  </body>
</html>
